* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 75% 15%;
    height: 100vh;
    overflow: hidden;

    /* SCROLL */
    scrollbar-color: #ffefd5 #c9aa82;
}
.none {
    display: none;
}

/* HEADER */

header {
    background-color: papayawhip;
    display: flex;
}

.header-logo img {
    height: 100%;
}

.header {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.burger {
    height: 4rem;
    display: none;
}

.menu-burger {
    border: none;
    border-radius: 10px;
    background-color: burlywood;
    height: 2rem;
    width: 104px;
    cursor: pointer;
}

.burger-container {
    height: 200px;
    position: relative;
    top: 80px;
    /* background-color: rgb(228, 149, 75); */
    border-radius: 10px;
    z-index: 1;
}

.burger-btn-bg {
    background-color: rgb(228, 149, 75);
}

.menu {
    display: none;
}

.menu-display {
    display: block;
}

.burger-container .burger-li {
    display: block;
}

.header a {
    background-color: burlywood;
    height: 50%;
    width: auto;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: rgb(240, 239, 239);
    text-decoration: underline;
}

.header-li {
    text-align: center;
    width: 100%;
}

/* MAIN */
.img {
    /* display: inline; */
    width: 25%;
    height: 50%;
}

main {
    display: flex;
    background-color: rgb(248, 218, 170);
}

.content {
    background-color: burlywood;
    width: 50%;
    height: 100%;
    align-self: flex-start;
    /* justify-self: center; */
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content h1, .content h2 {
    color: papayawhip
}

.content p {
    overflow-y: scroll;
    overflow-x: hidden;
    color: rgb(136, 89, 18)
}

/* FOOTER */

footer {
    background-color: rgb(192, 135, 60);
    display: flex;
}

.footer-logo {
    height: 100%;
}

.footer {
    list-style-type: none;
}

.footer-div {
    background-color: papayawhip;
    text-align: center;
}

.footer-li {
    background-color: burlywood;
    margin-top: 5px;
    border-radius: 10px;
    color: rgb(173, 99, 14);
}

.footer a {
    text-decoration: none;
}

.footer-div h3 {
    color: rgb(177, 154, 23);
}

/* MEDIA QUERIES */
@media screen and (max-width: 510px) {
    /* Do menu burger */
    .burger {
        display: block;
    }

    .header-li {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .img {
        display: none;
    }

    .content {
        position: relative;
        left: 25%;
    }
}

@media screen and (max-width: 375px) {
    .content h2 {
        font-size: 1.25em;
    }
}